html
    head 
        title= title
    body
        h1= message
        for item in arr
            p= item.name
        hr
        ol
            li Pug uses indetion
                em to embed tags within each other
            li each other.
