/*
 *   Edited by Evan Sellers <sellersew@gmail.com> on
 *   behalf of Rose-Hulman Institute of Technology
 *
 *   author: Evan Sellers <sellersew@gmail.com>
 *   date: Thu Apr 01 2021
 *   original: N/A
 *   file: main.css
 *   project: N/A
 *   purpose: N/A
 *
 */

@import url( "./gameboard.css" );

body {
    background: white;
}

.navbar {
    background-color: white;
    color: black !important;
    box-shadow: none;
    border-bottom: 1px rgba( 0, 0, 0, 0.05 ) solid;
}

.page-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: #f9f9f9;
}

.btn:hover {
    background: #e8e8e8;
}