body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}


#fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    background: #800000;
    color: white;
    border-radius: 10rem;
}

.card {
    margin: 10px 0;
}

.dropdown-menu-right {
    left: -128px;
}