/*
 *   Edited by Evan Sellers <sellersew@gmail.com> on
 *   behalf of Rose-Hulman Institute of Technology
 *
 *   author: Evan Sellers <sellersew@gmail.com>
 *   date: Fri Mar 26 2021
 *   original: N/A
 *   file: main.css
 *   project: N/A
 *   purpose: N/A
 *
 */

body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 50px;
}

.btn.btn-rose {
    background-color: #800000;
    color: white;
}

#favorite-color-display {
    width: 200px;
    height: 100px;
    background-color: #800000;
    color: white;
}

/* Instead on the bottom a padding of 2px was used on the .col elements */
#favoriteColorButtonRow .col {
    padding: 2px;
}

.favorite-color-action:hover {
    color: black;
}