body {
    background: #DDDDDD;
}

.navbar {
    background-color: white;
    color: black;
}

.page-container {
    margin-top: 75px;
}


#fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    background: black;
    color: white;
    border-radius: 10rem;
}

.card {
    margin: 10px 0;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown-menu-right {
    left: -130px;
}



.flex-grow {
    flex-grow: 1;
}

#loginLogo {
    margin: 20px auto;
    display: block;
    max-width: 350px;
}

#loginButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}


/* Drawer Fixes */
.bmd-layout-content {
    min-height: 100vh;
}

.bmd-layout-drawer {
    position: fixed;
}

