/*
 *   Edited by Evan Sellers <sellersew@gmail.com> on
 *   behalf of Rose-Hulman Institute of Technology
 *
 *   author: Evan Sellers <sellersew@gmail.com>
 *   date: Wed Mar 24 2021
 *   original: N/A
 *   file: navigation.css
 *   project: Personal Portfolio
 *   purpose: Navigation CSS File
 *
 */

body .navigation {
    background: var(--opacity-background);
    width: 100%;
    backdrop-filter: blur(20px);
    transition: box-shadow 1s;
}

@media only screen and (min-width: 800px) {
    body .navigation {
        position: sticky;
        top: 0;
    }
}

body .navigation.shadow {
    box-shadow: var(--shadow);
}

body .navigation .item {
    padding: 1.5rem 1rem;
}

